<section style="background-color: #fac769; padding-top: 45px; padding-bottom: 45px; ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 align-content-center">
        <h2 style="font-weight: bold; color: white" class="text-center">Business HTML Templates Free
          Download</h2>
      </div>
    </div>
  </div>

</section>
<section style="background-color: white; padding-top: 45px; padding-bottom: 45px;">
  <div class="container">
    <h2>Hottest headphones of the month</h2>

    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="./assets/images/03.jpg" class="card-img-top img-fluid" alt="headphones">
          <div class="position-absolute "
               style="z-index:1; top: 2rem; left: 2rem; border-radius: 30px; padding: 9px; background-color: #fac769; font-family: 'Poppins', sans-serif;">
            HEADPHONES
          </div>
          <div class="card-body"  style="background:#fac769 ">
            <div class="card-title font-weight-bolder" style="font-family: 'Poppins', sans-serif; font-weight:900;color: black; "> HEADPHONES
            </div>
            <div class="card-text text-light font-weight-bold" style=" font-family: 'Rubik', sans-serif; font-size: 1rem; "> Experience the exact same elevated experience and also amazing audio UHP has actually been providing to auditorium, workshops and also living rooms for 50 years with HTML Business Templates.</div>
          </div>

        </div>
      </div>
      <div class="col-md-4 ">
        <div class="card ">

          <img src="./assets/images/04.jpg" class="card-img-top img-fluid " alt="headphones">
          <div class="position-absolute "
               style="z-index:1; top: 2rem; left: 2rem; border-radius: 30px; padding: 9px; background-color: #fac769; font-family: 'Poppins', sans-serif;">
            HEADPHONES
          </div>
          <div class="card-body" style="background-color: #fac769;">
            <div class="card-title " style="font-weight:700; font-family: 'Poppins', sans-serif; "> HEADPHONES
            </div>
            <div class="card-text text-light font-weight-bold" style=" font-family: 'Rubik', sans-serif; font-size: 1rem;">This is songs without any limitations. Surrender to Business HTML Templates remarkable audio wrapped in ageless design. Let it have fun with your ideas, tinker your heart, or alter your strategies.      </div>

          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="card ">


          <img src="./assets/images/05.jpg" class="card-img-top img-fluid " alt="headphones">
          <div class="position-absolute "
               style="z-index:1;  top: 2rem; left: 2rem; border-radius: 30px; padding: 9px; background-color: #fac769; font-family: 'Poppins', sans-serif;">
            HEADPHONES
          </div>
          <div class="card-body"  style="background:#fac769 ">
            <div class="card-title " style="font-weight:700; font-family: 'Poppins', sans-serif; "> HEADPHONES
            </div>
            <div class="card-text text-light font-weight-bold" style="    font-family: 'Rubik', sans-serif; font-size: 1rem; "> From the storage locker area to the lecture hall, you're constantly on the go with Business HTML Template. Pay attention for approximately 18 hours on a single cost, after that use Deep-Sleep setting to conserve power.     </div>

          </div>
        </div>





      </div>


    </div>
  </div>
</section>
