<section style="padding-top:30px;padding-bottom: 30px;  background-color: #fac769; margin-top: 40px; "  >
  <div class="container">
    <h3 style="line-height: 4">Meet Our New Headphones🔥</h3>


    <div class="row mb-4" >


      <div class="col-md-3">
        <div class="img-container">
          <img src="./assets/images/a.jpg" alt="headphone" class="img-fluid " >

          <div class="M-icon" data-toggle="modal" data-target="#myModal1">
            <!--                    <button class="btn rounded-circle plus-icon">+</button>-->
            <div class="plus-icon  text-center">+</div>

          </div>
          <span class="img-title">Wireless</span>
        </div>
      </div>

      <div class="col-md-3">
        <div class="img-container">
          <img src="./assets/images/b.jpg" alt="headphone" class="img-fluid ">
          <div class="M-icon" data-toggle="modal" data-target="#myModal2">
            <div class="plus-icon  text-center">+</div>
            <!--                    <button class="btn rounded-circle plus-icon">+</button>-->
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="img-container">
          <img src="./assets/images/c.jpg" alt="headphone" class="img-fluid">
          <div class="M-icon" data-toggle="modal" data-target="#myModal3">
            <div class="plus-icon  text-center">+</div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="img-container">
          <img src="./assets/images/d.jpg" alt="headphone" class="img-fluid">
          <div class="M-icon" data-toggle="modal" data-target="#myModal4">
            <div class="plus-icon  text-center">+</div>
          </div>
        </div>
      </div>

    </div>
    <div class="row mt-4">


      <div class="col-md-3">
        <div class="img-container">
          <img src="./assets/images/c.jpg" alt="headphone" class="img-fluid">
          <div class="M-icon" data-toggle="modal" data-target="#myModal5">
            <div class="plus-icon  text-center">+</div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="img-container">
          <img src="./assets/images/a.jpg" alt="headphone" class="img-fluid">
          <div class="M-icon" data-toggle="modal" data-target="#myModal6">
            <div class="plus-icon  text-center">+</div>
          </div>
        </div>
      </div>

      <div class="col-md-3 ">
        <div class="img-container">
          <img src="./assets/images/d.jpg" alt="headphone" class="img-fluid">
          <div class="M-icon" data-toggle="modal" data-target="#myModal7">
            <div class="plus-icon  text-center">+</div>
          </div>
        </div>
      </div>


      <div class="col-md-3 ">
        <div class="img-container">
          <img src="./assets/images/b.jpg" alt="headphone" class="img-fluid">
          <div class="M-icon" data-toggle="modal" data-target="#myModal8">
            <div class="plus-icon  text-center">+</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<div class="modal fade" id="myModal1">
  <div class="modal-dialog modal-dialog-centered  modal-xl">
    <div class="modal-content">

      <div  id="demo1" class="carousel slide" data-ride="carousel">


        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/images/a.jpg" alt="Los Angeles" class="img-fluid">
          </div>
          <div class="carousel-item">
            <img src="./assets/images/b.jpg" alt="Chicago" class="img-fluid">
          </div>
          <div class="carousel-item">
            <img src="./assets/images/c.jpg" alt="New York" class="img-fluid">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo1" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo1" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>

      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="myModal2">
  <div class="modal-dialog modal-dialog-centered  modal-xl">
    <div class="modal-content">

      <div id="demo2" class="carousel slide" data-ride="carousel">



        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/images/b.jpg" alt="Los Angeles" class="img-fluid">
          </div>
          <div class="carousel-item">
            <img src="./assets/images/a.jpg" alt="Chicago" class="img-fluid">
          </div>
          <div class="carousel-item">
            <img src="./assets/images/c.jpg" alt="New York" class="img-fluid">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo2" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo2" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>

      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="myModal3">
  <div class="modal-dialog modal-dialog-centered  modal-xl">
    <div class="modal-content">

      <div id="demo3" class="carousel slide" data-ride="carousel">



        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src=./assets/images/"c.jpg" alt="Los Angeles" class="img-fluid">
          </div>
          <div class="carousel-item">
            <img src="./assets/images/b.jpg" alt="Chicago" class="img-fluid">
          </div>
          <div class="carousel-item">
            <img src="./assets/images/a.jpg" alt="New York" class="img-fluid">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo3" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo3" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>

      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="myModal4">
  <div class="modal-dialog modal-dialog-centered  modal-xl">
    <div class="modal-content">

      <div id="demo4" class="carousel slide" data-ride="carousel">



        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/images/d.jpg" alt="Los Angeles" class="img-fluid">
          </div>
          <div class="carousel-item">
            <img src="./assets/images/b.jpg" alt="Chicago" class="img-fluid">
          </div>
          <div class="carousel-item">
            <img src="./assets/images/c.jpg" alt="New York" class="img-fluid">
          </div>
          <div class="carousel-item">
            <img src="./assets/images/a.jpg" alt="New York" class="img-fluid">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo4" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo4" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>

      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="myModal5">
  <div class="modal-dialog modal-dialog-centered  modal-xl">
    <div class="modal-content">

      <div id="demo6" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/images/a.jpg" alt="Los Angeles" class="img-fluid">
          </div>
          <div class="carousel-item">
            <img src="./assets/images/b.jpg" alt="Chicago" class="img-fluid">
          </div>
          <div class="carousel-item">
            <img src="./assets/images/c.jpg" alt="New York" class="img-fluid">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo6" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo6" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>

      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="myModal6">
  <div class="modal-dialog modal-dialog-centered  modal-xl">
    <div class="modal-content">

      <div id="demo5" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/images/a.jpg" alt="Los Angeles" class="img-fluid">
          </div>
          <div class="carousel-item">
            <img src="./assets/images/b.jpg" alt="Chicago" class="img-fluid">
          </div>
          <div class="carousel-item">
            <img src="./assets/images/c.jpg" alt="New York" class="img-fluid">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo5" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo5" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>

      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="myModal7">
  <div class="modal-dialog modal-dialog-centered  modal-xl">
    <div class="modal-content">

      <div id="demo7" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/images/a.jpg" alt="Los Angeles" class="img-fluid">
          </div>
          <div class="carousel-item">
            <img src="./assets/images/b.jpg" alt="Chicago" class="img-fluid">
          </div>
          <div class="carousel-item">
            <img src="./assets/images/c.jpg" alt="New York" class="img-fluid">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo7" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo7" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>

      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="myModal8">
  <div class="modal-dialog modal-dialog-centered  modal-xl">
    <div class="modal-content">

      <div id="demo8" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/images/a.jpg" alt="Los Angeles" class="img-fluid">
          </div>
          <div class="carousel-item">
            <img src="./assets/images/b.jpg" alt="Chicago" class="img-fluid">
          </div>
          <div class="carousel-item">
            <img src="./assets/images/c.jpg" alt="New York" class="img-fluid">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo8" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo8" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>

      </div>

    </div>
  </div>
</div>
