/* You can add global styles to this file, and also import other style files */



.img-container .M-icon {
  opacity: 0;
}

.img-container:hover .M-icon {
  opacity: 1;
}

.img-container::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #59585d;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}

.img-container:hover:before {
  opacity: 0.9 !important;
}

.img-container {
  position: relative;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.M-icon{
  width: 50px;
  height: 50px;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  position: absolute;
}


.plus-icon {
  position: absolute;

  /*           */
  /*font-size: 2rem;*/
  /*            color: white;*/
  background-color: #4e555b;
  border-radius: 63px;
  color: white;
  width: 100%;
  height: 100%;
  padding-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;

}
.masthead {
  height: 60vh;
  min-height: 500px;
  background-image: url(https://mobirise.com/html-templates/shop/assets/images/malte-wingen-381988-1920x1280.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.mainheading {
  font-size: 50px;
}


.navbar.navbar-4 .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=BFE100');
}

.menu-bar{
  z-index: 20;
  position: absolute;
  background: #fac769;
  width: 100%;
  opacity: 1;


}
.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 15vw;

}
.img-title{
  transition: all 0.5s ease;
  position: absolute;
  text-align: left;
  display: none;
  width: 100%;
  bottom: 0;
  right: 0;
  padding: 1rem;
  color: #ffffff;
  font-weight: bold;
  background: transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
